.page {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 50px;

  .indicators {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .indicator-section {
      display: flex;
      gap: 10px;

      align-items: center;
    }
  }
}