.button {
  padding: 5px 20px;
  border-radius: 10px;

  border: 2px solid white;
  background-color: transparent;
  color: white;

  cursor: pointer;

  font-weight: 600;
  font-size: 16px;

  &:hover {
    border: 2px solid black;
    background-color: white;
    color: black;

    transition: ease-out 0.5s;
  }
}